---
import Layout from '../layouts/Layout.astro';
import { CustomCursor } from '../components/stelling/CustomCursor';
import { Navbar } from '../components/stelling/Navbar';
import { Hero } from '../components/stelling/Hero';
import { Services } from '../components/stelling/Services';
import { WhyUs } from '../components/stelling/WhyUs';
import { Process } from '../components/stelling/Process';
import { Stats } from '../components/stelling/Stats';
import { FAQ } from '../components/stelling/FAQ';
import { Contact } from '../components/stelling/Contact';
import { Footer } from '../components/stelling/Footer';
import { StickyCTA } from '../components/stelling/StickyCTA';
import { WhatsAppFab } from '../components/stelling/WhatsAppFab';
---

<Layout>
  <CustomCursor client:load />
  <Navbar client:load />
  <main style="position:relative; z-index:1;">
    <Hero client:load />
    <Services client:visible />
    <WhyUs client:visible />
    <Process client:visible />
    <Stats client:visible />
    <FAQ client:visible />
    <Contact client:visible />
  </main>
  <Footer client:visible />
  <StickyCTA client:idle />
  <WhatsAppFab client:idle />
</Layout>